<!-- <a class="btn-circle" width="64" height="64" (click)="onOpenModal(null, 'add')" title="Add">
   <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-plus-circle-fill" width="64" height="64" fill="#df0f09" viewBox="0 0 16 16">
      <path width="64" height="64" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
   </svg>   
</a> -->
<!-- Add button -->
<a class="btn btn-circle bg-danger" (click)="onOpenModal(null, 'add')" title="Add">
   <svg xmlns="http://www.w3.org/2000/svg" width="52" height="64" fill="white" class="bi bi-plus-lg" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
   </svg>
</a>

