<div class="container" id="home-container">
    <div id="homeModal">
        <div class="modal-dialog">
          <div class="modal-content">
              
             <div class="modal-header">
                <h5 class="modal-title" id="homeModalLabel">Home</h5>
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button> -->
             </div>
    
             <div class="modal-body">
                <!-- <div class="form-group">
                   <label for="email">Email</label>
                   <input type="email" ngModel name="email" class="form-control" id="email" placeholder="Enter a Email" formControlName="email" required>
                </div> -->
                <!-- <div class="modal-footer">
                   <button [disabled]="loginForm.invalid" type="submit" value="Save" class="btn btn-primary form-control" >Login</button>
                </div> -->
    
                <!-- <div class="form-group">
                   <button class="btn btn-primary form-control" >Login</button>
                </div> -->
    
                <!-- <div class="form-group">
                    <button class="btn btn-primary form-control" >Signup</button>
                </div> -->
    
                <app-login></app-login>
                <app-signup></app-signup>
    
             </div>
          </div>
        </div>
    </div>
</div>